@tailwind base;
@tailwind components;
@tailwind utilities;
.dark{
    @apply bg-gray-800;
}
.light {
    @apply bg-slate-200;
}
.body{
    /*  */
    background-image: url('/src/images/3dImage.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.body-router{
    height: calc(100vh - 58px);
}
::-webkit-scrollbar{
    width: 4px;
    background: turquoise;
}